/* reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 100%;   
    background: #FFFFFF;
    background-blend-mode: screen;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}
.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.header{
    padding: 0.5em;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
}
.pad{
    padding: 0.5em;
}
.form_save{
    display: flex;
    flex-flow: column;
}
.textarea_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.text1{
    width: 33%;
    word-wrap: break-word;
    padding: 0.5em; 
}
.text2{
    width: 33%;    
    word-wrap: break-word;
    padding: 0.5em; 
}
.textarea2{
    width: 33%;
    word-wrap: break-word;
    padding: 0.5em; 
}
.textarea_content{
    width: 100%;
    overflow: hidden;
    outline: none;
}
.section_header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
ul {
    display:flex;
    justify-content:center;
  }    
.a,.d {
    margin-left:auto;
}
.success{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 200px;
    align-items: center;
    padding: 10em;
}
.section2{
    display: flex;
    justify-content: center;
}
#result{
    padding: 0.5em;
    width: 33%;
}
#result2{
    padding: 0.5em;
    width: 33%;
}
#result3{
    padding: 0.5em;
    width: 33%;
}